extends ../layouts/_main

block description
	meta(name='description', content='description')
	meta(name='Keywords', content='keywords')
block favicon
	link(rel='icon', href='/favicon.png', type='image/x-icon')
	link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')

block title
	| Тестовая страничка
block header
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
		a.navbar-brand(href='#') Navbar
		button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarsExampleDefault.collapse.navbar-collapse
			ul.navbar-nav
				li.nav-item.active
					a.nav-link(href='#')
						| Home 
						span.sr-only (current)
				li.nav-item
					a.nav-link(href='#') Link
				li.nav-item
					a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
				li.nav-item.dropdown
					a#dropdown01.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
					.dropdown-menu(aria-labelledby='dropdown01')
						a.dropdown-item(href='#') Action
						a.dropdown-item(href='#') Another action
						a.dropdown-item(href='#') Something else here
block content
	container.container
		.test_block
			|Тестовый блочок
block footer
	.test_footer